* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSansReg;
  src: url(/fonts/GillSans.ttc);
}
@font-face {
  font-family: PTserif;
  src: url(/fonts/PTSerif-Regular.ttf);
}
.nav-wrapper {
  height: 90px;
  width: 100%;
  position: fixed;
}
.nav-wrapper nav {
  max-width: 980px;
  height: 90px;
  position: fixed;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-bottom: solid 2px #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: GillSansReg;
}
.nav-wrapper nav .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #ffffff;
}
.nav-wrapper nav .logo span {
  position: absolute;
  bottom: -5px;
  color: #ffffff;
}
.nav-wrapper nav .links {
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-wrapper nav .links a {
  text-decoration: none;
  color: #ffffff;
}
.nav-wrapper nav .links span {
  color: #ee4367;
}

@media only all and (max-width: 980px) {
  .nav-wrapper nav {
    padding: 0 10px;
  }
}
.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.8))), url(/images/home-hero.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(/images/home-hero.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero .centered-content {
  width: 300px;
  text-align: center;
}
.hero .centered-content h1 {
  font-family: PTserif;
  color: #ffffff;
}
.hero .centered-content h2 {
  font-family: GillSansReg;
  color: #ee4367;
}

.quote {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.quote .content {
  width: 789px;
}
.quote .content .quote-text {
  font-family: GillSansReg;
  color: #FFD140;
  font-size: 18px;
  font-style: italic;
}
.quote .content .author {
  color: #ee4367;
  margin-bottom: 0px;
}
.quote .content .title {
  font-size: 10px;
}

.upcoming-events {
  background-color: purple;
  color: #ffffff;
  padding: 40px;
  font-family: GillSansReg;
}
.upcoming-events .title {
  margin-top: 30px;
  height: 35px;
  width: 392px;
  border-bottom: solid 2px #ffffff;
  padding-bottom: 40px;
}
.upcoming-events .events {
  height: 124px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.upcoming-events .events .event {
  width: 210px;
  height: 124px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.upcoming-events .events .event .date {
  width: 60px;
  height: 60px;
  background-color: #ee4367;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.upcoming-events .events .event .event-detail {
  font-family: GillSansReg;
  font-size: 14px;
  width: 140px;
}

@media (max-width: 1140px) {
  .upcoming-events .events {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 210px;
    margin: 50px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
footer {
  width: 100%;
  height: 455px;
  background-color: #EE4367;
  margin: 0 auto;
}
footer .logo {
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  width: 109px;
  height: 42px;
  border: solid 2px #ffffff;
}
footer .logo span {
  position: absolute;
  bottom: -5px;
  color: #ffffff;
}
footer .footer-info {
  width: 300px;
  height: 150px;
  margin: 0 auto;
}
footer .footer-info p {
  font-size: 24px;
  color: white;
}
footer .signup {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
footer .signup input {
  height: 100%;
  width: 529px;
  background-color: #f56b88;
  border: none;
  color: rgba(238, 67, 103, 0.5);
}
footer .signup ::-webkit-input-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup ::-moz-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup :-ms-input-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup ::-ms-input-placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup ::placeholder {
  color: rgba(238, 67, 103, 0.5);
  opacity: 1;
}
footer .signup .button {
  height: 100%;
  width: 167px;
  background-color: #ffffff;
}